<!DOCTYPE>
<html lang="en-EN">
<head>
{% include 'web::layouts.partials.meta' %}
{% block scripts %} {% endblock %}
{% block stylesheets %}
{% include 'web::layouts.partials.stylesheet' %}
{% endblock %}
</head>
<body>
{% block content %} {% endblock %}
</body>
